<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="suunnitelmat/etusivu.html">etusivu</a></br>
            <a href="suunnitelmat/opettajanakyma.html">openäkymä</a></br>
            <a href="suunnitelmat/opiskelijanakyma.html">opiskelijanäkymä</a></br>
            <a href="suunnitelmat/laitosnakyma.html">laitosnäkymä</a></br>
            <a href="suunnitelmat/tiedekuntanakyma.html">tiedekuntanäkymä</a></br>
            <a href="suunnitelmat/tulokset-opettaja.html">tulokset-opettaja</a></br>
            <a href="suunnitelmat/tulokset-hallinto.html">tulokset-hallinto</a></br>
            <a href="suunnitelmat/muokkaus-kysely.html">muokkaus-kysely</a></br>
            <a href="suunnitelmat/muokkaus-kysymys.html">muokkaus-kysymys</a></br>
        </div>
    </body>
</html>
