{% extends "base.html" %}
{% block content %}
<h1>Kurssikysely</h1>
<form class="form-signin">
    <h2 class="form-signin-heading">Kirjaudu sisään</h2>
    <label for="inputEmail" class="sr-only">Käyttäjätunnus</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Salasana</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Kirjaudu</button>
</form>
{% endblock %}