{% extends "base.html" %}
{% block content %}
<h1>Kurssin nimi</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kysymys</th>
            <th>Kysymyksen tyyppi</th>
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
    </thead>

    <tbody>
        <!-- Kurssit -->
        <tr>
            <td>Mikä oli parasta kurssilla?</td>
            <td>Avoin kysymys</td>
            <td><a class="btn btn-success" href="suunnitelmat/muokkaus-kysymys">Muokkaa</a></th></td>
            <td><a class="btn btn-danger" href="#">Poista</a></th></td>
        </tr>
        <tr>
            <td>Minkä kokonaisarvosanan antaisit kurssille?</td>
            <td>Numeerinen monivalinta</td>
            <td><a class="btn btn-success" href="suunnitelmat/muokkaus-kysymys">Muokkaa</a></th></td>
            <td><a class="btn btn-danger" href="#">Poista</a></th></td>
        </tr>
        <tr>
            <td>Minkä viikon laskareista opit eniten?</td>
            <td>Muu monivalinta</td>
            <td><a class="btn btn-success" href="suunnitelmat/muokkaus-kysymys">Muokkaa</a></th></td>
            <td><a class="btn btn-danger" href="#">Poista</a></th></td>
        </tr>
    </tbody>
</table>

<p>
    <a href="suunnitelmat/muokkaus-kysymys" class="btn btn-success">Lisää kysymys</a>
</p>
{% endblock %}