{% extends "base.html" %}
{% block content %}
<h1>Kysymyksen muokkaus</h1>

<p>
    Lyhyt ohje järjestelmän käyttöön. TODO: dropdown näyttämään valittu, syöttökentät customeille monivalinnoille näkyviin vain kun tehdään customia monivalintaa, kenttien määrän muuttaminen
</p>

<form>
    <div class="form-group">
        <label>Kysymys</label>
        <input class="form-control" value="Tyhjä jos luodaan uutta, vanha kysymys jos muokataan" type="text">
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Kysymyksen tyyppi
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" href="#">Numeerinen monivalinta</a></li>
            <li role="presentation"><a role="menuitem" href="#">Muu monivalinta</a></li>
            <li role="presentation"><a role="menuitem" href="#">Avoin kysymys</a></li>
        </ul>
    </div>

    <div class="form-group">
        <label>Vastausvaihtoehdot</label>
        <input class="form-control" value="" type="text">
        <input class="form-control" value="" type="text">
        <input class="form-control" value="" type="text">
        <input class="form-control" value="" type="text">
        <input class="form-control" value="" type="text">
        <button type="submit" class="btn btn-success">Lisää kenttä</button>
        <button type="submit" class="btn btn-danger">Poista kenttä</button>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
</form>
{% endblock %}