{% extends "base.html" %}
{% block content %}
  <h1>Kyselyt</h1>

  <p>
      Lyhyt ohje järjestelmän käyttöön. TODO: poistonappula näyttämään vahvistusdialogi, statusnappulat näyttämään vahvistusdialogi ja siirtämään kysely seuraavaan vaiheeseen, labelit näyttämään samalta kuin nappulat. Hengitystilaa layoutille pystysuunnassa.
  </p>
  
  <p>
    <a href="#" class="btn btn-success">Lisää kysely</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kurssikoodi</th>
        <th>Kurssin nimi</th>
        <th>Kurssin alku</th>
        <th>Kurssin loppu</th>
        <th>Status</th>
        <th>Vastauksia</th>
        <th><!--Muokkaa--></th>
        <th><!--Poista--></th>
      </tr>
    </thead>

    <tbody>
      <!-- Kurssit -->
      <tr>
        <td>58131</td>
        <td><a href="https://www.cs.helsinki.fi/courses/58131/2016/k/k/1">Tietorakenteet ja algoritmit</a></td>
        <td>18.1.2016</td>
        <td>4.5.2016</td>
        <td><span class="label label-primary">Päättynyt</span></td>
        <td>56</td>
        <td><span class="label label-default">Ei muokattavissa</span></td>
        <th><a class="btn btn-danger" href="#">Poista</a></th>
      </tr>
      <tr>
        <td>715517</td>
        <td><a href="https://www.cs.helsinki.fi/courses/58131/2016/k/k/1">Toinen kurssi</a></td>
        <td>1.11.2016</td>
        <td>30.11.2016</td>
        <td><a href="#" class="btn btn-success">Käynnissä</a></td>
        <td>3</td>
        <td><span class="label label-default">Ei muokattavissa</span></td>
        <th><a class="btn btn-danger" href="#">Poista</a></th>
      </tr>
      <tr>
        <td>15071551</td>
        <td><a href="https://www.cs.helsinki.fi/courses/58131/2016/k/k/1">Kolmas kurssi</a></td>
        <td>1.12.2016</td>
        <td>30.12.2016</td>
        <td><a href="#" class="btn btn-default">Luonnos</a></td>
        <td>0</td>
        <td><a href="/tsoha/muokkaus-kysymys" class="btn btn-success">Muokkaa</a></td>
        <th><a class="btn btn-danger" href="#">Poista</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}