{% extends "base.html" %}
{% block content %}
  <h1>Kyselyt</h1>

  <p>
      Lyhyt ohje järjestelmän käyttöön. Lorem ipsum jne.
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kurssikoodi</th>
        <th>Kurssin nimi</th>
        <th>Kurssin alku</th>
        <th>Kurssin loppu</th>
        <th>Vastaa</th>
      </tr>
    </thead>

    <tbody>
        <tr>
        <td>123456</td>
        <td><a href="https://www.cs.helsinki.fi/courses/58131/2016/k/k/1">Kurssi</a></td>
        <td>1.11.2016</td>
        <td>30.11.2016</td>
        <th><a class="btn btn-primary" href="/tsoha/kysely">Muokkaa</a></th>
      </tr>
      <tr>
        <td>715517</td>
        <td><a href="https://www.cs.helsinki.fi/courses/58131/2016/k/k/1">Toinen kurssi</a></td>
        <td>1.11.2016</td>
        <td>30.11.2016</td>
        <th><a class="btn btn-success" href="/tsoha/kysely">Vastaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
