<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="etusivu">etusivu</a></br>
            <a href="kysely">kysely</a></br>
            <a href="opettajanakyma">openäkymä</a></br>
            <a href="opiskelijanakyma">opiskelijanäkymä</a></br>
            <a href="laitosnakyma">laitosnäkymä</a></br>
            <a href="tiedekuntanakyma">tiedekuntanäkymä</a></br>
            <a href="tulokset-opettaja">tulokset-opettaja</a></br>
            <a href="tulokset-hallinto">tulokset-hallinto</a></br>
            <a href="muokkaus-kysely">muokkaus-kysely</a></br>
            <a href="muokkaus-kysymys">muokkaus-kysymys</a></br>
            <a href="muokkaus-kysymyspaletti">muokkaus-kysymyspaletti</a>
        </div>
    </body>
</html>
