{% extends "base.html" %}
{% block content %}
<h1>Kyselyt</h1>

{% if message%}
<div class="alert alert-success">
    <p>{{message}}</p>
</div>
{% endif %}

{% if opiskelijakurssit[0] != NULL %} 
<h2>Vastattavat kyselyt</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssikoodi</th>
            <th>Kurssin nimi</th>
            <th>Kurssin alku</th>
            <th>Kurssin loppu</th>
            <th>Vastaa</th>
        </tr>
    </thead>

    <tbody>
        {%for kurssi in opiskelijakurssit %}
        <tr>
            <td>{{kurssi.kurssikoodi}}</td>
            {% if kurssi.kotisivu == NULL %}
            <td>{{kurssi.nimi}}</td>
            {% else %}
            <td><a href="{{kurssi.kotisivu}}">{{kurssi.nimi}}</a></td>
            {% endif %}
            <td>{{kurssi.alkamispaiva|date('d.m.Y')}}</td>
            <td>{{kurssi.paattymispaiva|date('d.m.Y')}}</td>
            <td><form method="post" action="{{base_path}}/kysely/vastaa">
                    <input name="kurssiID" value="{{kurssi.ID}}" type="hidden">
                    <button type="submit" class="btn btn-primary">Vastaa</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if opettajakurssit[0] != NULL %}
<h2>Omien kurssien kyselyt</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssikoodi</th>
            <th>Kurssin nimi</th>
            <th>Kurssin alku</th>
            <th>Kurssin loppu</th>
            <th>Status</th>
            <th>Vastauksia</th>
            <th>Muokkaa</th>
            <th>Poista</th>
            <th>Tarkastele tuloksia</th>
        </tr>
    </thead>

    <tbody>
        {%for kurssi in opettajakurssit %}
        <tr>
            <td>{{kurssi.kurssikoodi}}</td>
            {% if kurssi.kotisivu == NULL %}
            <td>{{kurssi.nimi}}</td>
            {% else %}
            <td><a href="{{kurssi.kotisivu}}">{{kurssi.nimi}}</a></td>
            {% endif %}
            <td>{{kurssi.alkamispaiva|date('d.m.Y')}}</td>
            <td>{{kurssi.paattymispaiva|date('d.m.Y')}}</td>
            {% if opettajakyselyt[loop.index0].tila == 'luonnos' %}
            <td>
                <form method="post" action="{{base_path}}/kyselyt">
                    <input name="kurssiID" value="{{kurssi.ID}}" type="hidden">
                    <button type="submit" class="btn btn-default">Luonnos</button>
                </form>
            </td>
            {% elseif opettajakyselyt[loop.index0].tila == 'käynnissä' %}
            <td>
                <form method="post" action="{{base_path}}/kyselyt">
                    <input name="kurssiID" value="{{kurssi.ID}}" type="hidden">
                    <button type="submit" class="btn btn-primary">Käynnissä</button>
                </form>
            </td>
            {% else %}
            <td>
                <a class="btn btn-success" href="#">Päättynyt</a>
            </td>
            {% endif %}
            <td>{{opettajakyselyt[loop.index0].vastaajamaara}}</td>
            {% if opettajakyselyt[loop.index0].tila == 'luonnos' %}
            <td><a class="btn btn-success" href="/tsoha/kyselyt/muokkaa/{{opettajakyselyt[loop.index0].kurssiID}}">Muokkaa</a></td>
            {% else %}
            <td><span class="label label-default">Ei muokattavissa</span></td>
            {% endif %}
            {% if opettajakyselyt[loop.index0].tila == 'luonnos' %}
            <td><a class="btn btn-danger" href="/tsoha/kysely/poista/{{opettajakyselyt[loop.index0].kurssiID}}">Poista</a></td>
            {% else %}
            <td><span class="label label-default">Ei muokattavissa</span></td>
            {% endif %}
            
            {% if opettajakyselyt[loop.index0].tila == 'luonnos' %}
            <td><span class="label label-default">Ei tarkasteltavissa</span></td>
            {% elseif opettajakyselyt[loop.index0].tila == 'käynnissä' %}
            <td><span class="label label-default">Ei tarkasteltavissa</span></td>
            {% else %}
            <td>
                <form method="post" action="{{base_path}}/kysely/tulokset">
                    <input name="kurssiID" value="{{kurssi.ID}}" type="hidden">
                    <button type="submit" class="btn btn-primary">Tarkastele tuloksia</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if kyselyttomatKurssit[0] != NULL %}
<h2>Kurssit ilman kyselyä</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssikoodi</th>
            <th>Kurssin nimi</th>
            <th>Kurssin alku</th>
            <th>Kurssin loppu</th>
            <th>Luo kysely</th>
        </tr>
    </thead>

    <tbody>
        {%for kurssi in kyselyttomatKurssit%}
        <tr>
            <td>{{kurssi.kurssikoodi}}</td>
            {% if kurssi.kotisivu == NULL %}
            <td>{{kurssi.nimi}}</td>
            {% else %}
            <td><a href="{{kurssi.kotisivu}}">{{kurssi.nimi}}</a></td>
            {% endif %}
            <td>{{kurssi.alkamispaiva|date('d.m.Y')}}</td>
            <td>{{kurssi.paattymispaiva|date('d.m.Y')}}</td>
            <td><a class="btn btn-success" href="{{base_path}}/kyselyt/luo/{{kurssi.ID}}">Luo Kysely</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if opiskelijakurssit|length == 0 and opettajakurssit|length == 0 and kyselyttomatKurssit|length == 0 %}
<p>Ei näytettäviä kyselyjä</p>
{% endif %}

{% endblock %}
