{% extends "base.html" %}
{% block content %}
<h1>{{kurssi.nimi}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kysymys</th>
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
    </thead>

    <tbody>
        {%for kysymys in kysymykset %}
        <tr>
            <td>{{kysymys.teksti}}</td>
            <td><a class="btn btn-success" href="{{base_path}}/kysymys/muokkaa/{{kysymys.ID}}">Muokkaa</a></td>
            <td><a class="btn btn-danger" href="{{base_path}}/kysymys/poista/{{kysymys.ID}}">Poista</a></td>
        </tr>
        {% endfor %}
</table>

<p>
    <a href="{{base_path}}/kysymys/lisaa/{{kurssi.ID}}" class="btn btn-success">Lisää kysymys</a>
</p>
{% endblock %}